.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #004d40;
  /* Dark Teal background */
}

.scores {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 30px;
  color: white;

}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* 4 columns */
  grid-gap: 10px;
  margin-bottom: 20px;
}

.grid-item {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  color: red;
  font-weight: bold;
  width: 100px;
  font-size: 10rem;
  /* 32px */
  height: 80px;
  user-select: none;
}

.buttons {
  display: flex;
}

.button {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  color: white;
  font-size: 1rem;
  /* 16px */
  cursor: pointer;
  outline: none;
}

.reset {
  background-color: #f44336;
  /* Red */
}

.solve {
  background-color: #4caf50;
  /* Green */
}